{{ define "main" }}
  <article class="about-page">
    <header class="about-header">
      <div class="about-page-info">
        <h1 class="about-page-name">
          <span class="list-title-line2">{{ .Title | upper }}</span>
        </h1>
        {{ if site.Params.social }}
          <div class="about-page-social">
            {{ partial "social-links.html" . }}
          </div>
        {{ end }}
      </div>
    </header>
    <div class="single-post-wrapper">
    <article class="single-post">
      {{ partial "post-image-single.html" . }}
      <div class="post-content-main">
        {{ .Content }}
      </div>

      {{ if .Params.tags }}
        <footer class="post-footer">
          <div class="post-tags-footer">
            <span class="tags-label">{{ i18n "tags" }}:</span>
            {{ range .Params.tags }}
              <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="post-tag">{{ . }}</a>
            {{ end }}
          </div>
        </footer>
      {{ end }}
      </nav>
    </article>
    {{ partial "toc.html" . }}
  </div>
  </article>
{{ end }}
